[submodule "News-App"]
	path = News-App
	url = https://github.com/Munna-Scriptz/News-App.git

[submodule "Search_Engine"]
	path = Search_Engine
	url = https://github.com/Munna-Scriptz/Search_Engine.git
